<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand text-white" routerLink="/">Ecomm Project</a>
            <ng-container [ngSwitch]="menuType">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngSwitchCase="'default'">
                    <li class="nav-item">
                        <i class="fa fa-home text-white" aria-hidden="true" routerLink="/"
                            style="margin-right: 7px;margin-top: 13px;"></i>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" routerLink="seller">Seller</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page">Cart(0)</a>
                    </li>
                </ul>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngSwitchCase="'seller'">
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" routerLink="seller/seller-home">Product List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" routerLink="seller/seller-add-product">Add Product</a>
                    </li>
                </ul>
            </ng-container>
            <form class="d-flex" *ngIf="menuType=='default'; else thenblock">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-success text-white" type="submit">Search</button>
            </form>
            <ng-template #thenblock>
                <a class="nav-link active text-white" aria-current="page">Welcome {{sellerName | titlecase}}</a>
                <i class="fa fa-power-off text-white logout-btn" aria-hidden="true" routerLink="logout"></i>
            </ng-template>

        </div>
    </div>
</nav>